/* Main styling */
.dropzone {
    height: 200px;
    width: 100%;
    border: none;
    background-color: lightblue;
    border-radius: 20px;
}   

p.results {
    padding: 0.5cm 0.0cm 0.1cm 1.0cm;
}

#gpost { 
    visibility: hidden;
}

ul {
    list-style: none;
}

#uploaded-file {
    width: 100%;
    padding-left: 10px;
    text-align: left;
}

#recordingslist audio {
    display: block;
    margin-bottom: 10px;
}

.pequod-hidden {
    visibility: hidden;
}

#wrapper {
    width: 100%;
    display: table;
}

#contentContainer {
    width: 600px;
    border: solid 1px #ccc;
    display: table-cell;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    background-image: url('the-pequod.png');
    background-size: 80px 60px;
    background-repeat: no-repeat;
}

#debugContainer {
    border: none;
    display: table-cell;
    border: solid 1px #c00;
    vertical-align: top;
    padding: 10px;
}

#loading-icon {
    position: absolute;
    visibility: hidden; 
}

#record-instruction-container {
    display: table-cell;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    padding-left: 60px;
    height: 48px;
}

.mic-background {
    background-image: url('mic.gif');
    background-repeat: no-repeat;
    background-position: left top; 
    background-size: 48px 48px;
}

#contentContainer h1 {
    font-size: 16pt;
    margin: 1px;
    padding: 2px;
}

#contentContainer h2 {
    font-size: 14pt;
    margin: 1px;
    padding: 2px;
}

#contentContainer dl {
    text-align: left;
    margin-left: 5px;
    line-height: 1.5em;
}

#contentContainer dl dt {
    font-weight: bold;
}

#response-text {
    color: RoyalBlue;
    font-weight: bold;
}

#resultsimg {
    height: 400px;
}

.query-view, .response-view {
    visibility: hidden;
}
      
.info-view, .list-view, #response-image {
    display: none;
}

.dropzone.dz-clickable {
    background-image: url('cloud-icon.png');
    background-repeat: no-repeat;
    background-position: center center; 
}

.dropzone.dz-clickable.dz-started {
    background-image: none;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    background-image: url('prt-icon.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center center; 
}

#logdynamic {
    width: 500px;
}
