<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>

<title>The Pequod</title>

{% load static %}

<!-- STYLE -->

<link rel="stylesheet" type="text/css" href="{% static 'ui/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ui/main.css' %}" />

<!-- JS -->
<script type="text/javascript" src="{% static 'ui/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'ui/recorder.js' %}"></script>
<script src="{% static 'ui/dropzone.js' %}"></script>
<script src="{% static 'ui/baseencoding.js' %}"></script>
<script type="text/javascript" src="{% static 'ui/recording.js' %}"></script>
<script type="text/javascript" src="{% static 'ui/processing.js' %}"></script>

</head>    

<!-- HTML -->
<body onload="initializeDocument()">
<div id="wrapper">
<div id="contentContainer">
    {% block content %}
    <form method="post" action="/upload/" enctype="multipart/form-data" class="dropzone" id="rptdropzone">
      {% csrf_token %}
    </form>
    {% endblock %}
    <div id="record-instruction-container">
        <img id="mic-icon" src="{% static 'ui/mic.gif' %}" alt="Recording ..." class="pequod-hidden" />
        <p id="record-instruction">Hold down any key to record a command.</p>
    </div>
    <div id="loading-icon">
        <img alt="Loading..." src="{% static 'ui/spin.svg' %}" />
    </div>
    <p id="response" class="results"></p>
   
    <img id="resultsimg" src="{% static 'ui/placeholder.png' %}" alt="Results (optional)">
</div>
<div id="debugContainer">
    <ul id="recordingslist"></ul>
    <pre id="logpersistent"></pre>
    <!-- debugging -->
    <button type="button" id="gpost" onclick="process_request()">Post with current buffers</button>
    <p id="status" class="results"></p>
    <p id="transcript" class="results"></p>
    <pre id="logdynamic"></pre>
</div>
</div>
 
</body>
</html>
